    <aside>
      <div id='cssmenu'>
        <ul>
          <li class='active'>
            <a href='#'><span>Home</span>
              <span class=" cnt glyphicon glyphicon-home"></span>
            </a>
          </li>
          <li class='last'><a href='#'><span>Accounts</span></a></li>
          <li class='has-sub'><a href='#'><span>Students</span>
            <span class="cnt glyphicon glyphicon-th"></span>

          </a>
          <ul>
            <li><a href='#'><span>Product 1</span></a></li>
            <li><a href='#'><span>Product 2</span></a></li>
            <li class='last'><a href='#'><span>Product 3</span></a></li>
          </ul>
          </li>
          <li class='has-sub'><a href='#'><span>Human Resource</span></a>
            <ul>
              <li><a href='#'><span>Company</span></a></li>
              <li class='last'><a href='#'><span>Contact</span></a></li>
            </ul>
          </li>
        </ul>
      </div><!--/ #cssmenu -->
    </aside>

